.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}

a{
    color: #000000;
    text-decoration: none;
}

.m-row{
    margin-top: 16px
}

.m-lable{
    margin-bottom: 4px;
}
.text-color_red{
    color: red;
}