.m-dialog {
    color: #000000;
}

    .m-dialog .dialog-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 999;
        opacity: 0.5;
    }

    .m-dialog .dialog-content {
        position: absolute;
        width: 800px;
        height: 587px;
        background-color: #ffffff;
        z-index: 1000;
        top: calc((100vh - 587px)/2);
        left: calc(50% - 400px);
        border-radius: 5px;
    }

    .m-dialog .dialog-header {
        display: flex;
        padding: 24px 24px 0 24px;
    }

    .m-dialog .dialog-body {
        padding: 0px 8px 24px 24px;
    }

    .m-dialog .dialog-header .dialog-header-close {
        position: absolute;
        right: 0;
        top: 0;
    }


        .m-dialog .dialog-header .dialog-header-close button {
            width: 40px;
            height: 40px;
            border-radius: 0 0 0 5px;
            border: none;
            outline: none;
            cursor: pointer;
            background-image: url('/content/icon/x.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;
            opacity: 0.7;
        }

            .m-dialog .dialog-header .dialog-header-close button:hover {
                background-color: #cccccc;
                border-radius: 5px;
            }
    /*Tiêu đề của dialog*/
    .m-dialog .dialog-header .dialog-header-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
/*thông tin form*/

input {
    width: 100%;
    box-sizing: border-box;
}

.dialog-infor {
    display: flex;
    width: 100%;
}

.dialog-img {
    text-align: center;
}

.dialog-img-content {
    width: 180px;
    height: 180px;
    background-image: url('../../content/img/default-avatar.png');
    background-size: contain;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    margin: 16px auto 0;
}

.dialog-infor-box {
    flex: 1;
    margin: 0 16px 0 0;
}

    .dialog-infor-box .m-control select {
        width: 100%;
        padding: 10px 0;
    }

input[type="date"] {
    padding: 8px 0 !important;
}

select {
    padding: 9px 0;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.gender {
    margin: 10px 0;
}

    .gender input {
        width: auto !important;
    }

.dialog-infor_content {
    display: flex;
    width: 100%;
}

.dialog-infor_content-left {
    flex: 2;
    margin-right: 16px;
}


.dialog-infor_content-right {
    flex: 1;
    margin-right: 16px;
}

.dialog-address {
    margin-right: 16px;
}

input:focus {
    border: 1px solid #019160;
}

/*button dialog*/

.dialog-button {
    height: 60px;
    line-height: 60px;
    background-color: #cccccc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .dialog-button .btn-right {
        margin-right: 24px;
    }

    .dialog-button button {
        margin-left: 16px;
    }
 

    #dialog{
        display: none

    }