

table th, td {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 16px;
    text-align: left;
    text-overflow: Ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
table th{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
/*table tbody tr:nth-child(odd) {
    background-color: #e5e5e5;
}*/

.grid {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

