input{
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
}

input::placehoder{
    font-size: 11px;
}

.input-search{
    padding-left: 40px;
}

input[type="date"] {
    padding: 8px 16px !important;
}
